__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
instance/
.webassets-cache
.env
*.db
flask_session/
# Ignore all files in images/recipes except .gitkeep
app/static/images/recipes/*
!app/static/images/recipes/.gitkeep 