openai>=1.0.0
python-dotenv==1.0.1
Flask>=3.0.0
Flask-SQLAlchemy>=3.0.2
Flask-Migrate>=4.0.4
Flask-Login>=0.6.2
psycopg2-binary==2.9.9
gunicorn==21.2.0
Flask-Session==0.5.0
Flask-WTF==1.2.1
Werkzeug>=2.3.7
email-validator==2.1.0
requests>=2.31.0
SQLAlchemy>=2.0.0
alembic>=1.13.0
types-Flask-Migrate>=1.1.1
types-Flask-SQLAlchemy>=2.5.9
types-Werkzeug>=1.0.9
types-Flask>=1.1.6
Pillow>=10.0.0
python-magic>=0.4.27
