{% extends "base.html" %}
{% block content %}
<div class="alert alert-danger">
    <h4>Error Occurred</h4>
    <p>{{ error }}</p>
    {% if config.DEBUG %}
        {% if traceback %}
        <div class="mt-3">
            <h5>Debug Information:</h5>
            <pre class="bg-light p-3 mt-2"><code>{{ traceback }}</code></pre>
        </div>
        {% endif %}
    {% endif %}
    <div class="mt-3">
        <a href="{{ url_for('main.home') }}" class="btn btn-primary">Return Home</a>
        <a href="{{ url_for('main.register') }}" class="btn btn-secondary">Try Again</a>
    </div>
</div>
{% endblock %}
