<!-- app/templates/grocery_list.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Grocery List</h2>
    
    <div class="grocery-list-container">
        {% if grocery_items %}
            <ul class="list-group" id="groceryList">
                {% for item in grocery_items %}
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input grocery-item" 
                                   type="checkbox" 
                                   id="item-{{ item.id }}"
                                   data-item-id="{{ item.id }}"
                                   {% if item.is_checked %}checked{% endif %}>
                            <label class="form-check-label" for="item-{{ item.id }}">
                                {{ item.name }}
                            </label>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No items in your grocery list. Save some recipes to populate your list!</p>
        {% endif %}
    </div>
</div>
{% endblock %}
